@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

[theme="light"] {
  --text: #ffffff;
  --text2: #606060;
  --text3: #dad9d9;
  --navbg: #000000d9;
  --naviconhover: #aeadad00;
  --bgcolor: #141414;
  --borderCard: rgb(209, 207, 207);
  --borderHoverCard: rgba(99, 96, 96, 0.5);
  --cardIconHover: rgb(55 55 55 / 80%);
  --picon: grey;
  --userp: rgb(158, 156, 156);
  --postHover: rgb(90 90 90 / 75%);
  --photop: rgb(166 166 166);
}

[theme="dark"] {
  --text: #000000;
  --text3: #1e1d1d;
  --navbg: #d1d0d0;
  --naviconhover: #aeadad;
  --bgcolor: #0055ff00;
  --borderCard: rgb(20, 19, 19);
  --borderHoverCard: rgba(174, 171, 171, 0.5);
  --cardIconHover: rgba(233, 225, 225, 0.796);
  --picon: rgb(0, 0, 0);
  --userp: rgb(31 31 31);
  --postHover: rgba(142, 141, 141, 0.75);
  --photop: rgb(81, 80, 80);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bgcolor);
  /* scroll-behavior: smooth; */
}

body {
  background-color: var(--bgcolor);
  /* scroll-behavior: smooth; */
}
